[submodule "Chess-Logic/submodules/Logger"]
	path = Chess.Engine/Chess.Engine.Core/submodule/Logger
	url = git@github.com:Diversiam90815/Logger.git
	branch = main
[submodule "Chess-Logic/submodules/json"]
	path = Chess.Engine/Chess.Engine.Core/submodule/json
	url = git@github.com:nlohmann/json.git
	branch = master
[submodule "Chess-Logic/submodules/asio-standalone"]
	path = Chess.Engine/Chess.Engine.Core/submodule/asio-standalone
	url = git@github.com:chriskohlhoff/asio.git
	branch = master
