[submodule "Chess-Logic/submodules/Logger"]
	path = Chess-Logic/submodules/Logger
	url = git@github.com:Diversiam90815/Logger.git
	branch = main
[submodule "Chess-Logic/submodules/json"]
	path = Chess-Logic/submodules/json
	url = git@github.com:nlohmann/json.git
	branch = master
[submodule "Chess-Logic/submodules/asio"]
	path = Chess-Logic/submodules/asio
	url = git@github.com:chriskohlhoff/asio.git
	branch = master
